{{ define "body_classes" }}page-default-list{{ end }}

{{ define "main" }}
  <div class="intro">
    <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">{{.Params.dot}}</span>{{ end }}</h1>
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
  </div>
  {{ .Content }}
  {{ range.Pages }}
    {{ .Render "summary" }}
  {{ end }}
{{ end }}
